@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"),
       url("/recources/fonts/Raleway-Regular.ttf") format("ttf");
}



font-family: 'Raleway', sans-serif;

body, h1 {
  font-family: "Raleway", "Arial", sans-serif;
}

.text-16{
  font-size: 16px;
  line-height: 19px;
}

.text-16-24{
  font-size: 16px;
  line-height: 1.5em;
}

.text-18{
  font-size: 18px;
  line-height: 22px;
}

.text-28{
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
}


.text-100{
  font-weight: bold;
  font-size: 100px;
  line-height: 117px;
}



.mt-90{
  margin-top: 90px;
}

.mb-90{
  margin-bottom: 90px;
}

.mt-70{
  margin-top: 70px;
}

.mb-70{
  margin-bottom: 70px;
}

.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.mt-40{
  margin-top: 40px;
}

.mb-40{
  margin-bottom: 40px;
}



.pt-100{
  padding-top: 100px;

}

.pb-100{
  padding-bottom: 100px;
}

.pt-90{
  padding-top: 90px;
}

.pb-90{
  padding-bottom: 90px;
}




.main-head{
  background-image: url('/resources/img/back-1.jpg');
  background-repeat: no-repeat;
  background-position: center right;

}




button.btn-yellow{
  background-color: #FFCA00;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding: 15px 35px;
  border: 0px;
}

button.btn-yellow:hover{
  background: #000000;
  color: #FFFFFF;
}

button.btn-black{
  background-color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 15px 35px;
  border: 0px;
}

button.btn-yellow:hover{
  background: #FFCA00;
  color: #000000;
}


.grad-white{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
  padding-top: 130px;
  padding-bottom: 100px;

}



.hello h2{
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.hello p{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */


  color: #000000;
}



.text-yellow{
  color: #FFCA00;
}

.white-head-cta{
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;


  color: #FFFFFF;
}

.white-text-cta{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;


  color: #E5E5E5;
}


.cta-wrapper{
  background-image: url('/resources/img/back-clack.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}




.cat-card-left{
  padding: 30px;
  background-color: #EFF1F2;
}


.max-price{
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  margin: 20px 0px 20px 0px;
}

.sub-cat{
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.cat-name{
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
}


.cat-img{
  object-fit: cover;
  height: 100%;
}

/*HEADER*/

.site-name{
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}

.header-wrapper{
  background: #0D0B0B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding:  5px 0px;
/*  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 999;*/

}

.text-white{
  color:#ffffff;
}




a.nav-item.nav-link{
  color: #ffffff;
}


a.nav-item.nav-link:hover{
  color: #EFF1F2;
  text-decoration: underline;
}



.nav-logo a:hover{
  text-decoration: none;
}


.header-phone, .header-cta-btn {
  text-align: right;
}

.header-phone{
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.header-cta-btn{
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.header-phone a:hover{
  color: #ffffff;
  text-decoration: none;
}

.header-cta-btn a:hover{
  color: #ffffff;
  text-decoration: none;
}



.light-gray{
  background-color: #EFF1F2;

}


/*CAROUSEL*/

.item img {
  min-width: 375px;
  min-height: 240px;

}

.scale {
   transition: 1s; /* Время эффекта */
  }
  .scale:hover {
   transform: scale(1.2); /* Увеличиваем масштаб */
   z-index: 5 !important;
  }

.item {
  margin-left: 20px;
  margin-right: 20px;
}


.owl-carousel .owl-stage-outer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-transform: translate3d(0,0,0);
}





/*Гарантия*/


.garant-10{
  font-weight: 500;
  font-size: 150px;
  line-height: 176px;
}

.garant-year{
  font-weight: 500;
  font-size: 46px;
  line-height: 54px;
}


.garant-wrapper{
  background-image: url('/resources/img/back-clack.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
}


.advantages{

  padding-top: 150px;
  padding-bottom: 150px;
}




.white{
  background: #ffffff;
}


.features{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px 150px 50px;
}

.features h2{
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 30px;
}

.features p{
  margin-bottom: 30px;
}


.akciya{
  padding: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*TABS Material*/


.tabs{
  padding-top: 50px;
  padding-bottom: 100px;
}

img.img-fluid.img-material {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.tabs-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* эквивалентно grid-template-columns: 25% 25% 25% 25%; */
   grid-row-gap: 25px;
}



.nav-tab{
  margin-top: 90px;
  margin-bottom: 50px;
}


.nav-tab li{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-right: 60px;
}

.nav-tab li:hover{
  cursor: pointer;
}
.material-title{
  margin-top: -40px;
  margin-bottom: 40px;
  visibility: hidden;
}


.card-material:hover > .material-title{
  visibility: visible;
}



.tabs-content{
  display: none;
}

.none{
  display:none;
}

.grid{
  display: grid;
}



/*FORM CTA*/
.cta-form input[type="submit"]{
  background-color: #FFCA00;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 35px;
  border: none;
  text-transform: uppercase;
}

.cta-form input[type="submit"]:hover{
  background-color: #FFCA00;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 35px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;


}



.cta-form input[type="text"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 20px;
  color: #ffffff;

}

.cta-form input[type="text"]:active{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 20px;
  color: #ffffff;
}






/*POPUP FORM CTA*/
.cta-form-popup input[type="submit"]{
  background-color: #FFCA00;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 35px;
  border: none;
  text-transform: uppercase;
}

.cta-form-popup input[type="submit"]:hover{
  background-color: #FFCA00;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 35px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;


}



.cta-form-popup input[type="text"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 20px;
  color: #000000;
  width: 80%;
  margin-bottom: 30px;

}

.cta-form-popup input[type="text"]:active{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 13px 20px;
  color: #000000;
}


/*POPup*/


.hide{
  display: none;
}

.popup-visible{
  background-color: #fff;
  padding: 40px 60px;
  display: block;
  position: fixed;
  width: 30%;
  top: 20%;
  left: 35%;
  z-index: 9999;
}


.btn_close a:hover{
  cursor: pointer;
}



/* ОТЗЫВЫ */



.review-card{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 0;
}

.review-img{
  width: auto;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.review-body{
  padding: 30px 50px;
}

.review-body p{
  color: #1B3342;
}
